<script>
    window.app = window.app || {};
    window.app.indexes = {
        github: {
            title: "GitHub Profile",
            url: "{{ app.github.url }}",
            shortcut: "github"
        },
        blog: {
            title: "Blog on Medium",
            url: "{{ app.blog.url }}",
            shortcut: "blog"
        },
        repo: {
            title: "Online Repository",
            url: "{{ app.repo.url }}",
            description: "Official Deplink Repository is the place where you can search libraries and download them. All of these libraries are free to use and public available for everyone.",
            shortcut: "repo"
        },
        license: {
            title: "License",
            url: "{{ app.github.url }}/deplink/blob/master/license",
            description: "Code licensed under the MIT License and the docs are licensed under the CC BY 3.0."
        }
    }
</script>
