.markdown h1 + p {
    margin-top: $xs-gap;
}

.markdown h2 {
    margin-top: $lg-gap;
}

.markdown {
    ul, ol, p, pre {
        margin-top: $sm-gap;
    }
}

.markdown ul li + li,
.markdown ol li + li {
    padding-top: $xs-gap;
}

.markdown code {
    @extend .code;
}

.markdown hr {
    height: 1px;
    border: none;
    background: $gray;
}

.markdown hr,
.markdown hr + * {
    margin-top: $md-gap;
}

.markdown {
    ul, ol, p {
        code {
            @extend .-inline;
        }
    }
}
