.menu {
    list-style-type: none;

    &.-dark {
        &, a {
            color: $white;
        }
    }
}

.menu-header {
    font-family: $font-family-brand;
    font-weight: $font-weight-header;
    font-size: $font-size-small;
    text-transform: uppercase;
    padding: 5px 0;
}

.menu-group {
    clear: both;
    display: inline-block;
    border-bottom: 2px solid rgba($font-color, 0.5);
    font-family: $font-family-brand;
    font-weight: $font-weight-header;
    font-size: $font-size-small;
    text-transform: uppercase;
    padding-top: 5px;
    margin-bottom: 5px;
    opacity: 0.4;
}

.menu-item a {
    display: block;
    padding: 5px 0;
    transition: padding 0.4s;
    padding-right: (2 * $xs-gap);
    color: $font-color;

    &:hover, &:focus {
        padding-left: (2 * $xs-gap);
        padding-right: 0;
        outline: none;
    }

}
