.menu {
    list-style-type: none;

    &.-dark {
        &, a {
            color: $white;
        }
    }
}

.menu-header {
    font-family: $font-family-brand;
    font-weight: $font-weight-header;
    text-transform: uppercase;
    padding: 5px 0;
}

.menu-item {
    a {
        display: block;
        padding: 5px 0;
        transition: padding 0.4s;
        padding-right: (2 * $xs-gap);

        &:hover {
            padding-left: (2 * $xs-gap);
            padding-right: 0;
        }
    }
}
