@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?26e9lf');
  src:  url('fonts/icomoon.eot?26e9lf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?26e9lf') format('truetype'),
    url('fonts/icomoon.woff?26e9lf') format('woff'),
    url('fonts/icomoon.svg?26e9lf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e901";
}
.icon-external-link:before {
  content: "\e900";
}
