.footer {
    background: $primary;
    color: $white;

    a {
        color: $white;
    }

    .menu {
        font-size: $font-size-small;
        padding: 0 $sm-gap;
    }
}

.footer-logo {
    display: block;
    padding: 0 $sm-gap;
    transition: transform 0.4s;

    &:hover, &:focus {
        transform: translateY(-$sm-gap);
        outline: none;
    }

    img {
        width: 90px;
        margin-top: -16px;
    }
}

.footer-credits {
    font-size: $font-size-tiny;
    padding: 0 $sm-gap;
    opacity: 0.6;

    a {
        font-weight: $font-weight-highlight;
    }
}
