.navbar {
    background: $white;
    z-index: 50;
}

.navbar-logo {
    transition: all 0.4s;
    line-height: $navbar-height;
    filter: grayscale(75%);
    opacity: 0.5;

    &:hover, &:focus {
        filter: grayscale(0%);
        opacity: 1.0;
        outline: none;
    }

    img {
        height: 24px;
        vertical-align: middle;
    }
}

.navbar-link {
    display: inline-block;
    text-transform: uppercase;
    line-height: $navbar-height;
    font-family: $font-family-brand;
    font-weight: $font-weight-header;
    transition: color 0.3s;
    font-size: 0.9375em;
    color: $font-color;

    &:hover, &:focus {
        color: darken($second, 25%);
        outline: none;
    }
}
