.navbar {
    background: $white;
    box-shadow: 0 1px 3px rgba(black, 0.3);
    z-index: 50;
}

.navbar-branding {
    @include media(null, $navbar-breakpoint - 1px) {
        text-align: center;
    }
}

.navbar-logo {
    transition: all 0.4s;
    line-height: $navbar-height;
    filter: grayscale(75%);
    opacity: 0.5;

    &:hover, &:focus {
        filter: grayscale(0%);
        opacity: 1.0;
        outline: none;
    }

    img {
        height: 24px;
        vertical-align: middle;

        @include media(null, $navbar-breakpoint - 1px) {
            box-sizing: content-box;
            padding: (2*$xs-gap) $md-gap;
            border-radius: $xs-gap;
        }
    }
}

.navbar-link {
    display: inline-block;
    text-transform: uppercase;
    line-height: $navbar-height;
    font-family: $font-family-brand;
    font-weight: $font-weight-header;
    transition: color 0.3s;
    font-size: 0.9375em;
    color: $font-color;

    &:hover, &:focus {
        color: darken($second, 25%);
        outline: none;
    }
}

.navbar-mobile-toggle,
.navbar-quick-access {
    display: none;
    position: fixed;
    top: 0;
    border-radius: $xs-gap;
    transition: background 0.3s;
    width: (0.8 * $navbar-height);
    height: (0.8 * $navbar-height);
    line-height: (0.8 * $navbar-height);
    margin: (0.1 * $navbar-height);
    text-align: center;
    cursor: pointer;

    &:hover, &:focus {
        background: $gray;
        outline: none;
    }
}

.navbar-mobile-toggle {
    left: 0;
}

.navbar-quick-access {
    right: 0;
}

.navbar-mobile {
    display: none;
    margin-left: -100%;
    position: fixed;
    top: $navbar-height;
    background: $primary;
    transition: margin-left 0.5s;
    height: calc(100% - #{$navbar-height});
    width: 100%;
    overflow-y: auto;
    max-width: $navbar-mobile-width;
    box-shadow: 0 2px 5px rgba(black, 0.6);

    &.navbar-mobile.-visible {
        margin-left: 0;
    }
}

.navbar-mobile-line {
    border: none;
    background: white;
    height: 2px;
    opacity: 0.2;
}

@include media(null, $navbar-breakpoint - 1px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile,
    .navbar-mobile-toggle,
    .navbar-quick-access {
        display: block;
    }
}

// Support for anchor links
// (navbar won't overlap content).
*[id]:before {
    content: " ";
    display: block;
    height: ($navbar-height + $md-gap);
    margin-top: -($navbar-height + $md-gap);
    visibility: hidden;
}
