$quick-access-field-offset: $navbar-height + $sm-gap;
$quick-access-menu-offset: $quick-access-field-offset + $quick-access-field-height;

.quick-access {
    flex: 0 0 0;
}

.quick-access-field {
    z-index: 99;
    position: fixed;
    top: $quick-access-field-offset;
    height: $quick-access-field-height;

    border: none;
    border-bottom: 1px solid $gray;
    box-shadow: 0 0 3px rgba(black, 0.6);
    font-size: $font-size-normal;
    padding: (2*$xs-gap) $sm-gap;

    &.-loading {
        padding-right: ($sm-gap + 16px);
        border-right: $sm-gap solid white;
        background: white url('../images/icons/loader.gif') right center no-repeat;
    }

    &:hover, &:focus {
        outline: none;
    }
}

.quick-access-menu {
    z-index: 100;
    position: fixed;
    top: $quick-access-menu-offset;
    box-shadow: 0 1px 3px rgba(black, 0.6);
    max-height: calc(100% - #{$quick-access-menu-offset + $sm-gap});

    flex: auto 1 1;
    overflow-y: auto;
    background: white;
}

.quick-access-menu,
.quick-access-field {
    display: none;
    max-width: $quick-access-width;
    margin-left: -($quick-access-width / 2);
    left: 50%;
    width: 100%;

    @include media(null, $quick-access-width + 2*$sm-gap) {
        margin-left: 0;
        left: $sm-gap;
        right: $sm-gap;
        width: calc(100% - #{2*$sm-gap});
    }
}

.quick-access-menu-item {
    display: block;
    color: $font-color;
    padding: (2*$xs-gap) $sm-gap;
    background: $quick-access-item-backgroud;
    transition: background 0.3s;
    cursor: pointer;

    b {
        transition: background 0.3s;
    }

    &:hover, &:focus, &.-selected {
        outline: none;
        color: $font-color;
        background: rgba($second, 0.2);

        b {
            background: rgba(yellow, 0.4);
        }
    }

    & + & {
        border-top: 1px solid $quick-access-item-border;
    }

    small {
        display: block;
        font-size: $font-size-tiny;
        color: rgba($font-color, 0.5);
        
        @include media(null, $quick-access-width + 2*$sm-gap) {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
