<footer class="footer">
    <div class="container">
        <div class="flex -wrap">
            <div class="xs-12 lg-3 text-center">
                <a class="footer-logo" href="{{ url('/') }}">
                    <img alt="Deplink Iconmark" src="{{ url('images/iconmark.svg') }}">
                </a>
            </div>
            <div class="xs-12 md-4 lg-3">
                <ul class="menu -dark mtl">
                    <li class="menu-header"> Community</li>
                    <li class="menu-item"><a href="{{ app.github.url }}"> GitHub <span class="font-tiny icon-external-link"></span></a></li>
                    <li class="menu-item"><a href="{{ app.blog.url }}"> Blog <span class="font-tiny icon-external-link"></span></a></li>
                    <li class="menu-item"><a href="{{ url('community/partners') }}"> Partners </a></li>
                </ul>
            </div>
            <div class="xs-12 md-4 lg-3">
                <ul class="menu -dark mtl">
                    <li class="menu-header"> Documentation</li>
                    <li class="menu-item"><a href="{{ url(guidePages[0].url) }}"> Guide </a></li>
                    <li class="menu-item"><a href="{{ url(referencePages[0].url) }}"> Reference </a></li>
                    <li class="menu-item"><a href="{{ url('documentation/quick-access') }}"> Quick Access </a></li>
                </ul>
            </div>
            <div class="xs-12 md-4 lg-3">
                <ul class="menu -dark mtl">
                    <li class="menu-header"> Resources</li>
                    <li class="menu-item"><a href="{{ url('download') }}"> Download </a></li>
                    <li class="menu-item"><a href="{{ app.repo.url }}"> Repository </a></li>
                </ul>
            </div>
        </div>

        <div class="flex">
            <div class="lg-push-3 mtm mbm">
                <div class="footer-credits">
                    Code licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a>
                    and the docs are licensed under the <a href="https://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>.
                </div>
            </div>
        </div>
    </div>
</footer>
