<div class="quick-access">
    <input class="quick-access-field" placeholder="Search...">
    <div class="quick-access-menu">
        {#<div class="quick-access-menu-item" data-url="https://github.com/deplink">
            <p><b>GitHu</b>b Profile </p>
            <small> https://<b>githu</b>b.com/deplink </small>
        </div>#}
    </div>
</div>
