{% extends "_layout.njk" %}
{% set background = 'bg-white' %}

{% block content %}
    <div>
        <section class="section bg-white">
            <div class="container pbs">
                <div class="markdown">
                    {% block markdown %}{% endblock %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
