{% extends "_layout.njk" %}
{% set background = 'bg-white' %}

{% block content %}
    <div class="mtm mbl">
        <div class="container">
            {# TODO: Infor about development in progress #}
        </div>
    </div>
{% endblock %}
