{% extends "_layout.njk" %}
{% set background = 'bg-gray' %}

{% block content %}
    <div class="xs-12">
        <div class="banner">
            <div class="banner-logo">
                <img alt="Deplink Logo" src="{{ url('images/branding/logo.svg') }}">
            </div>
            <div class="banner-code">
                <code>
                    <p><span class="banner-code-host">you@localhost:~$</span> deplink init your/package</p>
                    <p>Creating deplink.json file... <span class="banner-code-info">OK</span></p>
                    <p><span class="banner-code-host">you@localhost:~$</span> deplink install deplink/example</p>
                    <p>Retrieving installed dependencies... <span class="banner-code-notice">Skipped</span></p>
                    <p>Resolving dependencies tree... <span class="banner-code-info">OK</span></p>
                    <p>Dependencies: <span class="banner-code-notice">1 installs</span>, <span class="banner-code-notice">0 updates</span>, <span class="banner-code-notice">0 removals</span></p>
                    <p>- Installing <span class="banner-code-info">deplink/example</span> (<span class="banner-code-notice">v1.0.2</span>) 100%</p>
                    <p>Writing lock file... <span class="banner-code-info">OK</span></p>
                    <p>Generating autoload header... <span class="banner-code-info">OK</span></p>
                    <p><span class="banner-code-host">you@localhost:~$</span></p>
                </code>
            </div>
        </div>

        <section class="bg-white section">
            <div class="container text-center">
                <h1> Online Repository </h1>

                <p class="mtm"> Online Repository is the place where you can <strong>search libraries and download them</strong>. All of these libraries are <strong>free to use and public available for everyone</strong>. You can create account without charges and <strong>share your open source packages</strong> to build with us an amazing community around the Deplink project. </p>

                <div class="mtm"><a class="button" href="{{ app.repo.url }}"> Go to Repository <span class="font-tiny icon-external-link"></span></a></div>
                <div class="mts"><a href="{{ url('docs/guide/private-repository') }}"> Read how to create a private repository </a></div>
            </div>
        </section>

        <section class="bg-gray section">
            <div class="container pbs">
                <h1 class="text-center"> Quick Access </h1>

                <div class="flex -wrap">
                    <div class="xs-12 md-6 mtm">
                        <p> Do you love keyboard shortcuts? And <b>quick access to any view or action</b> from one place? <b>We love too!</b></p>
                        <p> Try it out, <b>press <kbd class="key">F2</kbd> and type</b> what you're looking for (on mobile devices click <span class="icon-search"></span> in a top right corner). You can type <i>help</i> to learn more about available commands. </p>
                    </div>
                    <div class="xs-12 md-6 mtm text-center">
                        <img alt="Example of using the Deplink Quick Access" src="{{ url('images/quick-access.png') }}">
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
