.code {
    display: block;
    background: $gray;
    font-family: $font-family-code;
    font-size: $font-size-small;
    padding: $sm-gap (1.5 * $sm-gap);
    border-radius: 4px;
    white-space: pre;

    &.-inline {
        display: inline;
        padding: 2px 4px;
    }
}
