// Gaps
$xs-gap: 5px;
$sm-gap: 15px;
$md-gap: 30px;
$lg-gap: 45px;

// Responsive
$sm: 510px;
$md: 720px;
$lg: 930px;

$container-size: 900px;
$container-gap: $sm-gap;

// Colors
$primary: #2c3a4b;
$second: #6184d8;

$white: #ffffff;
$blue: #1877ff;
$gray: #eaebed;

// Typography
$font-size-huge:  1.625em;
$font-size-large: 1.125em;
$font-size-normal: 1.000em;
$font-size-small:  0.9375em;
$font-size-tiny:   0.875em;

$font-size-title:  $font-size-huge;
$font-size-header: $font-size-large;

$font-family-brand: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-family-normal: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$font-family-code: Consolas, "Lucida Console", "Courier New", Courier, Monaco, monospace;

$font-weight-normal: 400;
$font-weight-highlight: 600;
$font-weight-header: 700;

$font-line-height: 1.4;
$font-color: $primary;

// Flex Grid
$flex-columns: 12;

// Navbar
$navbar-height: 60px;
$navbar-breakpoint: $lg;
$navbar-mobile-width: 300px;

// Banner
$banner-offset: (($container-size + 2*$container-gap) / 4);
$banner-image-width: 310px;

// Quick Access
$quick-access-width: 500px;
$quick-access-field-height: 40px;
$quick-access-item-border: #b8b8b8;
$quick-access-item-backgroud: #f8f8f8;
