html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body > .navbar {
  width: 100%;
  height: $navbar-height;
  position: fixed;
  top: 0;
}

body > .content {
  flex: 1 0 auto; // at least content height
  margin-top: $navbar-height;
}

body > .footer {
  flex: 0 0 auto; // fit height to content
}
