* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border: none;
    max-width: 100%;
}

main, aside, nav, section, article {
    display: block;
}

a {
    color: $second;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: darken($second, 25%);
    }
}

code {
    white-space: nowrap;
    overflow-x: auto;
}

ul, ol {
    margin-left: $md-gap;
}
