* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border: none;
    max-width: 100%;
}

main, aside, nav, section, article {
    display: block;
}

a {
    text-decoration: none;
}

code {
    white-space: nowrap;
    overflow-x: auto;
}
