body {
    font-size: 16px;
    font-family: $font-family-normal;
    font-weight: $font-weight-normal;
    line-height: $font-line-height;
    color: $font-color;
}

.font-huge {
    font-size: $font-size-huge;
}

.font-large {
    font-size: $font-size-large;
}

.font-small, small {
    font-size: $font-size-small;
}

.font-tiny {
    font-size: $font-size-tiny;
}

.font-bold, b, strong {
    font-weight: $font-weight-highlight;
}

h1, .font-title {
    font-family: $font-family-brand;
    font-weight: $font-weight-header;
    font-size: $font-size-title;
}

h2, .font-header {
    font-family: $font-family-brand;
    font-weight: $font-weight-header;
    font-size: $font-size-header;
}

.font-code, code {
    font-family: $font-family-code;
    line-height: 1.6em;
}

.text-center {
    text-align: center;
}

// The :before is reserved
// for anchor links support.
[id] {
    .anchor {
        padding: $xs-gap (1.5*$xs-gap);
        color: transparent;
        transition: color 0.3s;

        &:hover {
            color: $second;
        }
    }
}
