{% extends "layout.njk" %}
{% set background = 'bg-gray2white' %}

{% block content %}
    <div class="flex container">
        <aside class="xs-3 bg-gray">
            {{ pages({layout: 'documentation/reference'})|dump }}
        </aside>
        <article class="xs-9 bg-white">
            {% block markdown %}{% endblock %}
        </article>
    </div>
{% endblock %}
