{% extends "_layout.njk" %}
{% set background = 'bg-white' %}

{% block content %}
    <div class="mtm mbl">
        <div class="container">
            <h1> Partners </h1>
            <p class="mtx"> Would like like to <b>support Deplink with monthly or one-time donation</b>? Contact with me and we'll discuss details. </p>
            <img class="mts image -rounded" src="{{ url('images/partners/_banner.jpg') }}">

            <div class="markdown">
                {% block markdown %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
